[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
Django = "<2.2"
PyMySQL = "*"
djangorestframework-simplejwt = "*"
rest-condition = "*"
djangorestframework-filters = "==1.0.0.dev0"

[dev-packages]
pydevd = "*"

[requires]
python_version = "3.6"
